.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease;
}
.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  color: #38bdf8;
}
.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: #38bdf8;
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 100;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main {
    margin-left: 0;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .main {
    margin-left: 220px;
  }
}
